.app-instructions {
  text-align: left;
  width: 70%;
  margin: auto;
}

.about-header {
  margin-left: 0px;
}

.rules-list {
  list-style-position: inside;
}

.rules-list > li {
  margin-bottom: 5px;
}

