h2 {
  width: 90%;
  margin: 10px auto 10px auto;
}

ul {
  padding-left: 0;
}

.filter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin: auto;
}

.filter-form > input, select {
  margin-bottom: 8px;
  height: 2rem;
}

.filter-form > label {
  margin-bottom: 3px;
}

.filter-form > button {
  height: 2rem;
}

.create-btn-section {
  display: flex;
  justify-content: center;
}

.create-list-btn {
  height: 4rem;
  width: 4rem;
  font-size: 28px;
  background-color: mediumseagreen;
  color: white;
  border-radius: 45px;
  border: mediumseagreen solid;
  margin: 10px auto 10px auto;
  cursor: pointer;
}